<div class="container">
  <h1 class="display-4 py-5">Odczyty pogody</h1>

  <div class="container">
    <div class="row py-3">
      <div class="col-sm fs-2">
        Odczyt z <%= last.readingDate.toLocaleTimeString('pl-PL') %>
      </div>
      <div class="col-sm fs-2">
        <i class="fa-solid fa-temperature-half"></i> <%= last.temperature %> °C
      </div>
      <div class="col-sm fs-2">
        <i class="fa-solid fa-droplet"></i> <%= last.humidity %>%
      </div>
      <div class="col-sm fs-2">
        <i class="fa-solid fa-arrows-down-to-line"></i> <%= last.pressure %> hPa
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-hover table-fixed">
      <thead>
        <tr>
          <th scope="col">Data</th>
          <th scope="col">Temperatura</th>
          <th scope="col">Wilgotność</th>
          <th scope="col">Ciśnienie</th>
          <th scope="col">Opis</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach(d => { %>
        <tr>
          <th scope="row"><%= d.readingDate.toLocaleString('pl-PL') %></th>
          <td><%= d.temperature %> °C</td>
          <td><%= d.humidity %>%</td>
          <td><%= d.pressure %> hPa</td>
          <td><%= d.description %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>
